header {
  padding: 2rem 0;
}
header h1 {
  background-color: none;
  font-size: 2.3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

header h4 {
    color: rgb(83, 82, 82);
    font-weight: 400;
    font-size: 1.2rem;
}
