.info-area {
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.info-card {
  border-radius: 20px;
  background-color: #fff;
  width: 30vw;
  box-shadow: 0 1px 3px #00000014;
  padding: 2rem;
  color: #4f46e5;
}

.info-card h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.info-card p {
  color: #6b7280;
}

.info-card:focus{
  background-color: #342dac;
  color: #fff;
}
