* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:
    Segoe UI,
    system-ui,
    -apple-system,
    sans-serif;
}

body {
  background-color: #f0f2f5;
}

button {
  border: 0 solid;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(1px)
}

